* {
    margin: 0;
    padding: 0;
}

#first {
    background-color: tomato;
    width: 100vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color:blue;
}
#logo {
    width: 237px;
    height: 54px;
}