* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  font-size: 85%;
}
#mainwrap {
  position: relative;
  float: left;
  width: 100%;
}
#main {
  width: 1020px;
  margin: 0 auto;
}
header {
  position: relative;
  width: 980px;
  height: 111px;
  margin-left: 30px;
}
#logo {
  position: relative;
  width: 237px;
  height: 54px;
  margin: 7px 0 0 10px;
}

#gnb {
  list-style: none;
  margin: 32px 33px 0 0;
  float: right;
  overflow: hidden;
}
li {
  display: inline;
}
#gnb li:not(:last-child) {
  padding-left: 6px;
  margin-left: 6px;
}
a {
  text-decoration: none;
  color: darkslategrey;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  color: dimgray;
  position: relative;
  top: 30px;
  left: 57px;
}
#btn1 {
  width: 79px;
  height: 22px;
  background-color: #585954;
  color: aliceblue;
  border-radius: 3px;
  font-size: 10px;
}
#topmenu {
  border: 3px solid lightcoral;
  border-right: none;
  border-bottom: none;
  border-radius: 25px 0 0 0;
  clear: both;
  position: relative;
  width: 945px;
  height: 50px;
  padding-left: 35px;
}
#topmenu ul {
  width: 100%;
  display: flex;

  margin: 0 auto;
}
#topmenu ul li {
  list-style: none;
  position: relative;
  float: left;
  display: list-item;
  height: 25px;
  padding-bottom: 10px;
}
#topmenu ul li a {
  display: block;
  padding: 15px 17px 1px;
  font-size: 1.14em;
  font-weight: bold;
}
#flash {
  width: 980px;
  height: 283px;
  background-color: bisque;
  border: 3px solid lightcoral;
  border-left: none;
  border-radius: 0 141.5px 141.5px 0;
  margin: 0 0 20px 30px;
  background: linear-gradient(
    to right,
    white,
    rgba(135, 206, 235, 0.2),
    rgba(135, 206, 235, 0.4)
  );
}
