* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
    display: flex;
    justify-content: center;
}
#first {
  margin-top: 20px;
  width: 980px;
  height: 111px;
  display: flex;
  justify-content: right;
}
#second {
  width: 980px;
  height: 281px;
  background-color:bisque;
  border-radius: 25px;
}
ul {
  list-style: none;
  display: flex;
  height: 12px;
}
li:not(:last-child) {
  margin-right: 10px;
}
a {
  font-size: 12px;
  text-decoration: none;
  color:darkslategrey;
}
#logo {
  position: relative;
  right: 315px;
  width: 237px;
  height: 54px;
}
h3 {
  font-size: 30px;
  color:dimgray;
  position: relative;
  top: 10px;
  left: 57px;
}
#btn1 {
  width: 79;
  height: 22;
  background-color: #585954;
  color: aliceblue;
  border-radius: 3px;
  font-size: 10px;
}